name: Test GoTK

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: testing
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20

    - name: Clean test cache
      run: go clean -testcache

    - name: Run GoTK Tests
      run: go test ./tests -v
